/* Antonello's code. Git-Hub: antoinde */

/* ***********GENERICS************ */

/*reset style css*/
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
  background-color: black;
}

/* ***********UTILITIES************ */
.strikethroughText{
  text-decoration:line-through;
}
/* ***********CONTENT************ */
.container {
  background-color: grey;
  height: calc(100vh - 20px);
  padding: 30px
}
.window {
  border: 15px solid black;
  background-image: url("https://img.freepik.com/free-photo/background-crumpled-paper-sheet_1194-7545.jpg");
  background-size: cover;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.navbar{
  border-bottom: 10px solid black;
}
.list{
  font-style: italic;
  height: 100%;
}
.x{
  background-color: brown;
  color: black;
  padding: 0 8px;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid black;
}
.x:hover{
  cursor: pointer;
}
ul {
  list-style-type: none;
}
ul li{
  margin-top: 8px;
  margin-bottom: 8px;
  cursor:default;
}