/* Antonello's code. Git-Hub: antoinde */

/* ***********GENERICS************ */

/*reset style css*/
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
}

/* ***********UTILITIES************ */

/* ***********CONTENT************ */
